.contentpage-container1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.contentpage-thq-contentpage-elm {
  position: relative;
  width: 100%;
  height: 1024px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  margin: 0 auto;
  background-color: rgba(227, 141, 163, 1);
}

.contentpage-thq-contentpage-inner {
  position: relative;
  width: 1511px;
  height: 1024px;
  margin: 0 auto;
}

.contentpage-thq-book-elm {
  top: 191px;
  left: -36px;
  width: 1511px;
  height: 1301.5px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}

.contentpage-thq-content-elm {
  top: 222.61871337890625px;
  left: 154.8009796142578px;
  width: 1115.1407470703125px;
  height: 757.7516479492188px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}

.contentpage-thq-memo-elm {
  top: 270px;
  left: 38px;
  width: 1362px;
  height: 642.0027465820312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}

.contentpage-thq-light-elm {
  top: -8px;
  left: 386px;
  width: 552px;
  height: 350px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}

.contentpage-bg-img {
  width: 100%;
  height: 100%;
  display: block;
}

.contentpage-thq-memo-elm a {
  position: absolute;
  display: block;
  text-decoration: none;
  color: inherit;
}

.contentpage-thq-memo1home-elm {
  top: 0px;
  left: 1228px;
  width: 134px;
  height: 107px;
}

.contentpage-thq-memo2-aboutme-elm {
  top: 118px;
  left: 1228px;
  width: 134px;
  height: 112px;
}

.contentpage-thq-memo3my-work-elm {
  top: 241px;
  left: 1124px;
  width: 225px;
  height: 107px;
}

.contentpage-thq-memo31my-work1-elm {
  top: 408px;
  left: 114px;
  width: 114px;
  height: 107px;
}

.contentpage-thq-memo32my-work2-elm {
  top: 525px;
  left: 114px;
  width: 114px;
  height: 107px;
}

.contentpage-thq-memo33my-work3-elm {
  top: 642px;
  left: 114px;
  width: 114px;
  height: 107px;
}