.work1page-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.work1page-thq-work1page-elm {
  width: 100%;
  height: 1024px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(244, 181, 179, 1);
}
 
.work1page-thq-book-elm {
  top: 191px;
  left: 95px;
  width: 1246px;
  height: 1545px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-rectangle1-elm {
  top: 0px;
  left: 3px;
  width: 1243px;
  height: 775px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 50px;
}
 
.work1page-thq-rectangle8-elm1 {
  top: 770px;
  left: 0px;
  width: 1243px;
  height: 775px;
  position: absolute;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 5px;
  border-radius: 50px;
}
 
.work1page-thq-rectangle7-elm {
  top: 516px;
  left: 5px;
  width: 1238px;
  height: 259px;
  position: absolute;
  border-radius: 57px;
}
 
.work1page-thq-shadow-elm {
  top: 30px;
  left: 57px;
  width: 1114px;
  height: 759px;
  opacity: 0.44;
  position: absolute;
}
 
.work1page-thq-rectangle6-elm {
  top: 36px;
  left: 57px;
  width: 1114px;
  height: 759px;
  position: absolute;
}
 
.work1page-thq-work1-page-elm {
  top: 208px;
  left: 152px;
  width: 2547.140869140625px;
  height: 1535.751708984375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-work1page1-elm {
  top: 14.0001220703125px;
  left: 3px;
  width: 1115.1407470703125px;
  height: 773.9999389648438px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-graph-paper-elm1 {
  top: 757.7515869140625px;
  left: 4.007709503173828px;
  width: 752px;
  height: 1111px;
  position: absolute;
}
 
.work1page-thq-text-elm10 {
  top: 150.9998779296875px;
  left: 54px;
  color: rgba(116, 57, 39, 1);
  width: 439px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-text-elm12 {
  top: 257.9998779296875px;
  left: 627px;
  color: rgba(116, 57, 39, 1);
  width: 439px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-text-elm14 {
  top: 50.9998779296875px;
  left: 45px;
  color: rgba(116, 57, 39, 1);
  height: auto;
  position: absolute;
  font-size: 50px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-work1-page2-elm {
  top: 778px;
  left: 0px;
  width: 1118.1407470703125px;
  height: 757.751708984375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-rectangle9-elm1 {
  top: 0px;
  left: 0px;
  width: 1114px;
  height: 733px;
  position: absolute;
}
 
.work1page-thq-graph-paper-elm2 {
  top: 757.751708984375px;
  left: 7.0077056884765625px;
  width: 752px;
  height: 1111px;
  position: absolute;
}
 
.work1page-thq-image1-elm1 {
  top: 63px;
  left: 379px;
  width: 681px;
  height: 474px;
  position: absolute;
}
 
.work1page-thq-text-elm16 {
  top: 295px;
  left: 60px;
  color: rgba(116, 57, 39, 1);
  width: 291px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-text-elm18 {
  top: 567px;
  left: 60px;
  color: rgba(116, 57, 39, 1);
  width: 1000px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-work1-page3-elm1 {
  top: 0px;
  left: 1426px;
  width: 1118.140869140625px;
  height: 757.751708984375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-work1-page3-elm2 {
  top: 0px;
  left: 0px;
  width: 1118.140869140625px;
  height: 757.751708984375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-rectangle9-elm2 {
  top: 0px;
  left: 0px;
  width: 1114px;
  height: 733px;
  position: absolute;
}
 
.work1page-thq-graph-paper-elm3 {
  top: 757.751708984375px;
  left: 7.0077056884765625px;
  width: 752px;
  height: 1111px;
  position: absolute;
}
 
.work1page-thq-text-elm20 {
  top: 42px;
  left: 80px;
  color: rgba(116, 57, 39, 1);
  width: 1017px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-text-elm22 {
  top: 42px;
  left: 80px;
  color: rgba(116, 57, 39, 1);
  width: 1017px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-image1-elm2 {
  top: 251px;
  left: 65px;
  width: 638px;
  height: 443px;
  position: absolute;
}
 
.work1page-thq-work1-page4-elm {
  top: 733px;
  left: 1429px;
  width: 1118.140869140625px;
  height: 757.751708984375px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-rectangle9-elm3 {
  top: 0px;
  left: 0px;
  width: 1114px;
  height: 733px;
  position: absolute;
}
 
.work1page-thq-graph-paper-elm4 {
  top: 757.751708984375px;
  left: 7.0077056884765625px;
  width: 752px;
  height: 1111px;
  position: absolute;
}
 
.work1page-thq-text-elm24 {
  top: 83px;
  left: 45px;
  color: rgba(116, 57, 39, 1);
  width: 491px;
  height: auto;
  position: absolute;
  font-size: 25px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-image1-elm3 {
  top: 27px;
  left: 612px;
  width: 467px;
  height: 672px;
  position: absolute;
}
 
.work1page-thq-memo-elm {
  top: 268px;
  left: 38px;
  width: 1362px;
  height: 642.002685546875px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-memo1home-elm {
  top: 0px;
  left: 1228px;
  width: 134px;
  height: 107.00276184082031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-rectangle8-elm2 {
  top: 0px;
  left: 0px;
  width: 134px;
  height: 105px;
  position: absolute;
}
 
.work1page-thq-rectangle9-elm4 {
  top: 0px;
  left: 77px;
  width: 57px;
  height: 105px;
  opacity: 0.50;
  position: absolute;
}
 
.work1page-thq-text-elm27 {
  top: 2px;
  left: 120.910888671875px;
  color: rgba(116, 57, 39, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 30.551189422607422px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-memo2-aboutme-elm {
  top: 118px;
  left: 1133px;
  width: 229px;
  height: 112.00276184082031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-rectangle8-elm3 {
  top: 0px;
  left: 0px;
  width: 229px;
  height: 105px;
  position: absolute;
}
 
.work1page-thq-rectangle9-elm5 {
  top: 0px;
  left: 172px;
  width: 57px;
  height: 105px;
  opacity: 0.50;
  position: absolute;
}
 
.work1page-thq-text-elm28 {
  top: 7px;
  left: 215.910888671875px;
  color: rgba(116, 57, 39, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-memo3my-work-elm {
  top: 239px;
  left: 1228px;
  width: 134px;
  height: 107.00276184082031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-rectangle8-elm4 {
  top: 0px;
  left: 0px;
  width: 134px;
  height: 105px;
  position: absolute;
}
 
.work1page-thq-rectangle9-elm6 {
  top: 0px;
  left: 77px;
  width: 57px;
  height: 105px;
  opacity: 0.50;
  position: absolute;
}
 
.work1page-thq-text-elm29 {
  top: 2px;
  left: 120.910888671875px;
  color: rgba(116, 57, 39, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 26px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-memo31my-work1-elm {
  top: 408.002685546875px;
  left: 114px;
  width: 114px;
  height: 107.00276184082031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-rectangle8-elm5 {
  top: -0.00274658203125px;
  left: 0px;
  width: 114px;
  height: 105px;
  position: absolute;
}
 
.work1page-thq-rectangle9-elm7 {
  top: 0px;
  left: -57px;
  width: 57px;
  height: 105px;
  opacity: 0.50;
  position: absolute;
}
 
.work1page-thq-text-elm30 {
  top: -2px;
  left: -100.910888671875px;
  color: rgba(116, 57, 39, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 28px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-memo32my-work2-elm {
  top: 525.002685546875px;
  left: 114px;
  width: 114px;
  height: 107.00276184082031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-rectangle8-elm6 {
  top: -0.00274658203125px;
  left: 0px;
  width: 114px;
  height: 105px;
  position: absolute;
}
 
.work1page-thq-rectangle9-elm8 {
  top: 0px;
  left: -57px;
  width: 57px;
  height: 105px;
  opacity: 0.50;
  position: absolute;
}
 
.work1page-thq-text-elm31 {
  top: -2px;
  left: -100.910888671875px;
  color: rgba(116, 57, 39, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 30.551189422607422px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-memo33my-work3-elm {
  top: 642.002685546875px;
  left: 225px;
  width: 212px;
  height: 107.00276184082031px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-rectangle8-elm7 {
  top: -0.002685546875px;
  left: 0px;
  width: 212px;
  height: 105px;
  position: absolute;
}
 
.work1page-thq-rectangle9-elm9 {
  top: 0px;
  left: -155px;
  width: 57px;
  height: 105px;
  opacity: 0.50;
  position: absolute;
}
 
.work1page-thq-text-elm32 {
  top: -2px;
  left: -198.910888671875px;
  color: rgba(116, 57, 39, 1);
  width: 105px;
  height: auto;
  position: absolute;
  font-size: 30.551189422607422px;
  font-style: Regular;
  text-align: left;
  font-family: IM FELL English SC;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
 
.work1page-thq-light-elm {
  top: -78px;
  left: 386px;
  width: 667px;
  height: 350px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
 
.work1page-thq-polygon2-elm {
  top: 30px;
  left: 0px;
  width: 667px;
  height: 320px;
  opacity: 0.28;
  position: absolute;
}
 
.work1page-thq-ellipse1-elm {
  top: 112px;
  left: 255px;
  width: 157px;
  height: 102px;
  position: absolute;
}
 
.work1page-thq-polygon1-elm {
  top: 0px;
  left: 159px;
  width: 350px;
  height: 177px;
  position: absolute;
}
 
.work1page-link {
  display: contents;
}
 
.work1page-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.work1page-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.work1page-text21 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
